@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?ymwjr9');
    src: url('/fonts/icomoon.eot?ymwjr9#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?ymwjr9') format('truetype'), url('/fonts/icomoon.woff?ymwjr9') format('woff'), url('/fonts/icomoon.svg?ymwjr9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
}

.icon-search:before {
    content: "\e986";
}

.icon-circle-right:before {
    content: "\ea42";
}

.icon-circle-down:before {
    content: "\ea43";
}

.icon-new-tab:before {
    content: "\ea7e";
    color: inherit;
}

@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}
 
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fade-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
} 

.no-js {
    visibility: hidden;
    opacity: 0;
}

.js {
    visibility: visible;
    opacity: 1;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #141414;
    color: #e5e5e5;
}

header {
    background-color: #fff;
    padding: 18px 12px 12px 20px;
    margin-bottom: 30px;
    display: flex;
}

h1 {
    margin: 0;
    width: 100px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    min-height: 20px;
}

a {
    text-decoration: none;
}

.main-content {
    margin-left: 20px;
}

.category-holder {
    /* To handle margin collapse */
    border: 1px solid #141414;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.filter-input {
    position: relative;
    margin-left: 80px;
}

.filter-input__button {
    font-size: 18px;
    color: #141414;
    left: 8px;
    top: 9px;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.filter-input__button:focus {
    outline: none;
}

input[type=search] {
    width: 36px;
    height: 36px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-appearance: none;
    appearance: none;
    transition: all .5s;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid #141414;
    border-radius: 36px;
    color: #141414;
    cursor: pointer;
    padding: 0 10px 0 20px;
}

input[type=search]:focus, input[type=search].has-focus {
    width: 200px;
    padding-left: 32px;
    outline: none;
}

.accessibly-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.category-list {
    margin-bottom: 20px;
}

.category-list>li {
    font-size: 22px;
    line-height: 34px;
}

.category-list>li>a {
    color: #e5e5e5;
    text-transform: uppercase;
}

.toggle {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 0;
    margin-right: 8px;
    vertical-align: text-top;
}

.logo,
.toggle:hover,
.category-list a:hover,
.help {
    color: #e50914;
    margin-bottom: 0;
}

.bullet {
    position: absolute;
    left: 0;
    top: 2px;
}

.subcat-container {
    display: none;
    margin: 5px 0 10px 0;
}

.subcat-container ul {
    margin: 0 0 0 20px;
}

.subcat-container li {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
    padding-left: 26px;
    position: relative;
}

.subcat-container a {
    color: #fff;
}

.subcat-container.show {
    display: block;
}

.subcat-container.hide {
    display: none;
}

.help span {
    padding: 0 3px 0 3px;
    vertical-align: text-bottom;
}

@media only screen and (min-width: 1024px) {

    .category-list>li {
        font-size: 16px;
        line-height: 28px;
    }

    .toggle {
        font-size: 16px;
    }

    .subcat-container li {
        font-size: 14px;
        line-height: 18px;
        padding-left: 22px;
        position: relative;
    }

    .subcat-container.show {
        display: flex;
    }
}